$ cat .gitattributes

automate_assignment.py linguist-language=Python
createfiles_Human_Great_Apes.py linguist-language=Python
createTable_Human_Great_Apes.py linguist-language=Python
createTable.py linguist-language=Python

